body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
  }
  
  .App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .auth-form {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .auth-form h2 {
    margin-bottom: 1rem;
  }
  
  .auth-form input {
    width: calc(100% - 2rem);
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .auth-form button {
    width: 100%;
    padding: 0.75rem;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .auth-form button:hover {
    background-color: #0056b3;
  }
  
  .auth-form p {
    margin-top: 1rem;
  }

  .error {
    color: red;
    margin-bottom: 1rem;
  }

  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
  }
  
  .App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .auth-form {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    margin: auto;
  }
  
  .auth-form h2 {
    margin-bottom: 1rem;
  }
  
  .auth-form input {
    width: calc(100% - 2rem);
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .auth-form button {
    width: 100%;
    padding: 0.75rem;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .auth-form button:hover {
    background-color: #0056b3;
  }
  
  .auth-form p {
    margin-top: 1rem;
  }
  
  .error {
    color: red;
    margin-bottom: 1rem;
  }
  .login-container {
    background-image: url('goal.png');
    background-size: cover; /* Ensures the image covers the entire container */
    width: 100%;
    height: 30vh; /* Adjust according to your preference */
    display: flex;
    justify-content: center;
    align-items: center;
}

    .dashboard {
    padding: 2rem;
    text-align: center;
  }
  
  .dashboard h1 {
    margin-bottom: 1rem;
  }
  
  .dashboard button {
    padding: 0.75rem;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
  }
  
  .dashboard button:hover {
    background-color: #0056b3;
  }
  
  